<div class="headline-conteiner">
  <h1>This is Dani sofer assignment for innovi</h1>
  <input type="checkbox" (change)="onCheckboxChange($event)" />
</div>

<div class="list-holder" [class.isRow]="checkboxValue">
  <div class="singel-info-conteiner" *ngFor="let user of usersData$.data">
    <app-info-box
      [id]="user.id"
      [firstName]="user.firstName"
      [lastName]="user.lastName"
      [email]="user.email"
      [age]="user.age"
    ></app-info-box>
  </div>
</div>

<hr class="rounded" />
<div class="singel-info-conteiner" *ngFor="let user of users$ | async">
  <app-info-box
    [id]="user.id"
    [firstName]="user.firstName"
    [lastName]="user.lastName"
    [email]="user.email"
    [age]="user.age"
  ></app-info-box>
</div>
